{% extends "layout.html" %}

{% block title %}
    Discover
{% endblock %}

{% block content %}

<div>
    {% if not images.items %} 
        <div class="container py-5" style="margin-top: 20vh;">

            <header class="text-white text-center">
                <h1>No public images yet! Be the first to upload <a href="/upload" style="color: white">here.</a></h1>
                <br>
                <img src="https://res.cloudinary.com/mhmd/image/upload/v1564991372/image_pxlho1.svg" alt="" width="150" class="mb-4">
            </header>

        </div>
        <div>
    {% else %}
    <h3 style="margin-top: 50px; margin-left: 50px" style="color:white">Discover new images!</h3>
        <div class="row no-gutters" style="padding-left: 25px; padding-right: 25px">
        {% for f in images.items %}
        <div class="col" style="padding-bottom: 15px;">
            <div class="card">
                <img src={{cloudfront + f.identifier}} class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title">Date Added: {{f.date.date()}}</p>
                    <small>{{f.username}}</small>
                    <br>
                    <form method="POST">
                        <row>
                            <input hidden name="identifier" value={{f.identifier}}></input>
                            <input type="submit" name="download" value="download" class="btn btn-primary"></input>
                        </row>
                    </form>        
                </div>
            </div>
        </div>
        {% endfor %}
        <div style="padding-right: 65px">
            <nav aria-label="Page navigation example" style="margin-top:10px;">
                <ul class="pagination justify-content-end">
                    {% for page in images.iter_pages() %}
                            {% if page %}
                                <li class="page-item">
                                    <a href="/discover/{{page}}" class="page-link">{{page}}</a>
                                </li>
                            {% else %}
                            ...
                            {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}